Source: esptool
Section: main
XBSC-Family: esp8266
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
XBSC-TieCore: esp8266
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: esptool
Section: main
Architecture: all
Depends: python
XBSC-Group: Programmers
XBSC-SubGroup: ESP8266
Description: ESPTool for ESP8266 

